name: Build and Unit Test

on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --all-features
    - name: Check out parser_generator
      uses: actions/checkout@v2
      with:
        path: parser_generator
        submodules: recursive
    - name: Initialize and Build
      working-directory: parser_generator
      run: |
        cargo build
    - name: Run unit tests
      working-directory: parser_generator
      run: |
        cargo test